.header {
    overflow: hidden;
}

.list {
    color: #666;
    font-size: 18px;
    /* background: #fff; */
}
.list-dark {
    /* background: #001529; */
    color: rgba(255, 255, 255, 0.65);
}

.item {
    display: inline-block;
}

.itemA {
    cursor: pointer;
    padding: 0 16px;
    display: inline-block;
}
.itemA:hover {
  color: #fff;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}

.logo {
  /* text-align: center; */
}
.logo a{
    display: inline-block;
    vertical-align: top;
}

.logo img {
  vertical-align: top;
  padding-top: 13px;
}

.logo img.filter{
    filter: invert(80%);
}

.title {
  display: inline;
  background: transparent;
  font-size: 28px;
  padding-left: .5em;
  letter-spacing: 1px;
  color: #aaa;
  vertical-align: top;
}